body,h1,h2,h3,h4,h5,h6,p,dl,dd,form,input,textarea{
	margin:0;
	padding:0;
}
ul,ol{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
	color:#333;
}
img{
	border: none;
	vertical-align: top;
}
body{
	font:14px "微软雅黑";
}
.clearfix:after{
	content:'';
	display: block;
	clear:both;
}
.fl{
	float:left;
}
.fr{
	float:right;
}