*{
	margin: 0;
	padding: 0;
}
body{
	overflow: hidden;
}
#box_vic{
	width:1366px;
	height:768px;
	background:url(../img/5.jpg) no-repeat;
	background-size:100% 100%;
	position: relative;
}
#box1_vic{
	width:1366px;
	height:768px;
	background: black;
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
}
.up{
	margin-left: 25%;
	margin-top: 50px;
	position: relative;
	z-index: 2;
}
.down{
	width:160;
	margin-left: 43%;
	margin-top: 95px;
	position: relative;
	z-index: 2;
}
#mid1{
	position: relative;
	z-index: 2;
}
.coin{
	margin-left: 40%;
}
#victory_h span{
	margin-left: 15px;
	color: yellow;
	font-size: 40px;
	line-height: 40px;
	/*font-weight: bold;*/
}
.coinWr{
	margin-left:15px;
}
