@charset "utf-8";

/* reset */
body, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, form, input, th, td, p { margin: 0; padding: 0;}
table {border-collapse:collapse;}
img { border: none; vertical-align: top;}
li { list-style: none;}
a { text-decoration: none;}
em{ font-style: normal;}
strong{ font-weight: normal;}
textarea{ resize: none; overflow: auto;}
input,textarea,select,lable{ outline: none; border: none;}
.clear{ zoom:1;}
.clear:after{ content: ""; display: block; clear: both;}

